.features {
  background-color: $grey-bg;
  padding: 34px 28px;
  font-family: $font-montseratt;
  overflow: hidden;

  @include desktop {
    flex-direction: row;
    position: relative;
    padding-top: 100px;
  }

  &__title {
    color: $violet-main;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 34px;
    text-align: center;

    @include mobile-normal {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 68px;
    }

    @include desktop {
      position: absolute;
      top: 90px;
      left: 53%;
    }
  }

  &__list {
    @include desktop {
      width: 45%;
    }
  }

  &__img-block {
    width: 100%;

    @include desktop {
      position: absolute;
      width: 55%;
      left: calc(45% + 90px);
      top: 140px;
    }
  }
}

.feature-item {
  @include flex-row-center;

  flex-wrap: wrap;
  margin-bottom: 38px;

  @include min-width(#{$landscape-mobile-normal + 1}) {
    flex-wrap: inherit;
    align-items: normal;
    justify-content: space-between;
  }


  &__icon-block {
    margin-bottom: 29px;
    width: 111px;
    text-align: center;
  }

  &__about-block {
    @include min-width(#{$landscape-mobile-normal + 1}) {
      margin-left: 24px;
      width: 75%;
    }
  }

  &__title {
    color: $black;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;

    @include min-width(#{$landscape-mobile-normal + 1}) {
      text-align: left;
    }
  }

  &__desc {
    font-family: $font-lato;
    color: $grey;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

    @include min-width(#{$landscape-mobile-normal + 1}) {
      text-align: left;
    }
  }
}
